#hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

#BWArea {
    height: 20rem;
    /* text-align: center; */
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;


}

